@{
    ViewData["Title"] = "Login";
}
@model MedFlow.Models.login

<div>
        <header class="masthead" style="background-image: url('#');" >
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"><span style="color: var(--bs-emphasis-color);">Welcome To&nbsp;</span></div>
                <div class="intro-heading text-uppercase"><span style="color: var(--bs-emphasis-color);">Medflow</span></div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="Identity/Account/Login" style="--bs-primary: rgb(50,46,225);--bs-primary-rgb: 50,46,225;--bs-warning: rgb(50,46,225);--bs-warning-rgb: 50,46,225;background: rgb(50,46,225);border-color: rgb(50,46,225);">Log in</a>
                </div>
            </div>
        </header>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="home_assets/js/agency.js"></script>

