@{
    ViewData["Title"] = "Home Page";
}
<!--Me tikth gnin-->
<div class="text-center">
    <h2>Generate Prescription</h2>

    <form asp-controller="BillFileHandle" asp-action="GeneratePrescription" method="post">
        <div class="form-group">
            <label for="prescriptionContent">Enter Prescription Content:</label>
            <textarea class="form-control mt-3" id="prescriptionContent" name="billcontent" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="pdfContent">Enter Price</label>
            <input type="text" class="form-control" id="price" name="price" rows="5" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Finish</button>
    </form>

</div>
@if (Model != null)
{
    <p>PDF file generated. File path: @Model</p>
}
<!--Methnin ehat mokuth na blala wdk na-->