@{
    ViewData["Title"] = "Home Page";
}
<!--Me tikth gnin-->
<div class="text-center">
    <h2>Enter Billing Details</h2>

    <form asp-controller="BillFileHandle" asp-action="GeneratePrescription" method="post">
        
        <div class="form-group" style="display:flex;gap:5px;align-items:center;">
            <span>Enter Price:  </span>
            <input type="text" class="form-control" id="price" name="price" rows="5" style="width:246px;"/>
        </div>
        <div class="form-group" style="display:flex;gap:5px;align-items:flex-start;flex-direction:column;justify-content:center;">
            <label for="prescriptionContent">Enter Billing Content:</label>
            <textarea class="form-control " id="prescriptionContent" name="billContent" rows="5"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Finish</button>
    </form>

</div>
@if (Model != null)
{
    <p>PDF file generated. File path: @Model</p>
}
<!--Methnin ehat mokuth na blala wdk na-->