<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medflow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/medflow.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>
<body>
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: rgb(78,115,223);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink" style="color: rgba(255,255,255,0.8);"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: rgba(255,255,255,0.8);">MedFlow</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="Doctor_dashboard" style="color: rgba(75,74,74,0.8);"><i class="fas fa-tachometer-alt" style="color: #ffffff;"></i><span style="padding: 11px;color: #ffffff;">Doctor Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="Doc_Ass_dash" style="color: rgba(75,74,74,0.8);"><i class="fas fa-user" style="color: #ffffff;"></i><span style="padding: 11px;color: #ffffff;">Assistant Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="Patients" style="color: rgba(75,74,74,0.8);"><i class="fas fa-user" style="color: #ffffff;"></i><span style="padding: 11px;color: #ffffff;">Patient</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="Appointmentq" style="color: rgba(75,74,74,0.8);"><i class="fas fa-user" style="color: #ffffff;"></i><span style="padding: 11px;color: #ffffff;">Appointment Queue</span></a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Doctor" asp-action="Patientq" style="color: rgba(75,74,74,0.8);"><i class="fas fa-user" style="color: #ffffff;"></i><span style="padding: 11px;color: #ffffff;">Patient Queue</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        </>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


